.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 960px;
}

body{
  font-family: Helvetica;
  color: white;
}

/* Header */

.header-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.logo{
  display: flex;
  flex-basis: 35%;
  align-items: center;
}

.logo img{
 height: 1.5rem;
 margin-left: 4rem;
 margin-right: 1rem;
 margin-top: 0.66rem;
 margin-bottom: 0.66rem;
}

.logo span{
  color: white;
  font-size: 1rem;
  margin: 0rem auto;
}

/* Banner */

.banner{
  display: flex;
  background-image: url("resources/../../images/moto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  align-items: center;
}

.banner-textbox{
  display: flex;
  flex-direction: column;
  background: black;
  width: 25rem;
  height: 10rem;
  margin-left: 4rem;
}

.banner-textbox h4{
  font-size: 1em;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  margin-left: 3rem;
}

.banner-textbox h1{
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-left: 3rem;
}

.navbar{
  display: block;
}

/* Nav Bar */

nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: firebrick;
  z-index: 1;
  padding: 0.75rem 1.5rem;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

/* Featured Product Section */

.product-pic{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.product-box{
  flex-basis: 25%;
  height: 15rem;
  border: 4px solid black;
}

.product-box h4{
  background: black;
  text-align: center;
  padding: 0.5rem 0rem;
  border: 4px solid black;
}

.product-box img{
  height: 9rem;
  margin-top: 2rem;
}

.glasses img{
  height: 6rem;
  margin-top: 2rem;
  padding: 1.5rem 0rem;
}

/* Info Section */

.info-box{
  display: flex;
  justify-content: flex-start;
  margin-left: 2.3rem;
}

.locate h4{
  background: black;
  box-sizing: border-box;
  padding: 1rem 7rem;
  margin-bottom: 0rem;
  margin-right: 17rem;
  flex-basis: 30%
}

.locate p{
  background: none;
  color: black;
  margin: 0rem 0rem;
}

/* Footer */

footer{
  height: 6rem;
  background: black;
  margin-top: 4rem;
}

.copywrite{
  display: flex;
  align-items:center;
  text-align: left;
  margin-left: 4rem;
}
